.latar {
   
    background-image: url("../img/background.jpeg");
}
  
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding:  93.3px;
}

.home-content {
  background-image: linear-gradient(to bottom, rgba(39, 157, 236, 0.507), rgba(255, 0, 0, 0.712));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formlogin{
  padding-bottom: 160px
}

.home-left {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.home-box-game {
  display: flex;
  align-items: center;
  border: 2px solid #000000;
}


.home-box-game img {
  max-width: 200px;
}

.home-detail {
  padding: 20px;
}

.home-detail h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.home-detail p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.home-edit-button {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.home-edit-button:hover {
  background-color: #ffffff;
  color: #000000;
}

.d-flex.justify-content-around{
  padding-top: 83px;
}

.form-group{
  padding-top: 100px;
  padding-bottom: 244px;
}